In [33]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [34]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [20]:
df.iloc[0:3,[0,1]] # iloc is mainly used for integer indexing

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [24]:
df.loc[0:2,["course_name",	"duration"]] # loc is primarily used for label indexing

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#### then find the output for both new_df.loc[2] and new_df.iloc[2].

In [37]:
 new_df = df.reindex([3,0,1,2])

In [38]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [39]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [40]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [41]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [47]:
std = df1['column_1'].std()

In [48]:
std

0.26868944021514973

In [49]:
std = df1['column_2'].std()
std

0.20898603757718143

In [50]:
std = df1['column_3'].std()
std

0.29337646369570614

#### Q6. What do you understand about the windows function in pandas and list the types of windows
### functions?

In [52]:
df2 = pd.DataFrame({"a": [2,3,6,7,9,4]})

In [53]:
df2

   a
0  2
1  3
2  6
3  7
4  9
5  4

In [54]:
df2["a"].rolling(window=1).mean()

0    2.0
1    3.0
2    6.0
3    7.0
4    9.0
5    4.0
Name: a, dtype: float64

In [55]:
df2["a"].rolling(window=3).mean()

0         NaN
1         NaN
2    3.666667
3    5.333333
4    7.333333
5    6.666667
Name: a, dtype: float64

In [57]:
df2["a"].rolling(window=3).sum()

0     NaN
1     NaN
2    11.0
3    16.0
4    22.0
5    20.0
Name: a, dtype: float64

In [58]:
df2["a"].rolling(window=3).max()

0    NaN
1    NaN
2    6.0
3    7.0
4    9.0
5    9.0
Name: a, dtype: float64

In [59]:
df2["a"].rolling(window=3).min()

0    NaN
1    NaN
2    2.0
3    3.0
4    6.0
5    4.0
Name: a, dtype: float64

#### Q7. Write a code to print only the current month and year at the time of answering this question.
#### [Hint: Use pandas.datetime function]

In [28]:
 data= pd.to_datetime("07/07/2023  10:45:45")

In [29]:
data

Timestamp('2023-07-07 10:45:45')

In [30]:
import pandas as pd
df = pd.DataFrame.from_dict({"DateTime": ["07/07/2023      10:45:32"]
})

In [31]:
df["DateTime"] = pd.to_datetime(df["DateTime"])

In [32]:
df

             DateTime
0 2023-07-07 10:45:32

In [24]:
date = pd.date_range(start="07/07/2023", end= "07/07/2023")

In [25]:
date

DatetimeIndex(['2023-07-07'], dtype='datetime64[ns]', freq='D')

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#### (i) mean of each and every column present in the dataframe.
#### (ii) standard deviation of column, ‘column_2’

In [7]:
import pandas as pd 
def s_m(df):
    means = df.mean(axis=0)
    stds = df1.std(axis=0)
    return means, stds
if __name__ == '__main__':
    df= pd.DataFrame({'Score': [10, 9, 8, 7, 6, 5, 4, 3, 2, 1], 'column_2': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]})
    means,stds = s_m(df)

In [8]:
means

Score        5.5
column_2    24.5
dtype: float64

In [9]:
stds

Score       3.02765
column_2    3.02765
dtype: float64

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
#### calculates the difference between them in days, hours, and minutes using Pandas time delta. The
##### program should prompt the user to enter the dates and display the result.

In [3]:
import pandas as pd

In [4]:
date1 = input("Enter the first date (y-m-d):")
date2 = input("Enter the second date (y-m-d):")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2-date1

days_diff = time_diff.days
hours_diff = time_diff.seconds//3600
minutes_diff = (time_diff.seconds % 3600) // 60


print("Difference:{},days,{}  hours,{},minutes".format(days_diff,hours_diff, minutes_diff))

Enter the first date (y-m-d): 2023-5-5
Enter the second date (y-m-d): 2023-7-5

Difference:61,days,0  hours,0,minutes